<div class="hero-container">
  <h1 class="hero-text">Find Your Next Experience</h1>
  <p class="hero-credit">Photo by <a href="https://www.pexels.com/photo/female-and-male-runners-on-a-marathon-2402777/">RUN 4 FFWPU</a></p>
</div>
