<%= render 'hero' %>

<% if params[:previous] == "true" %>
  <p>List of Previous Events</p>
  <ul>
    <% @past_events.each do |event| %>
      <%= render 'list_of_events', event: event %>
    <% end %>
  </ul>
<% else %>
  <p>List of Upcoming Events</p>
  <ul>
    <% @upcoming_events.each do |event| %>
      <%= render 'list_of_events', event: event %>
    <% end %>
  </ul>
<% end %>