<%= render 'hero' %>

<% if params[:p] == "true" %>
  <div class="container">
    <p class="event-lists-header">List of Previous Events</p>
    <ul class="grid">
      <% @past_events.each do |event| %>
        <%= render 'list_of_events', event: event %>
      <% end %>
    </ul>
  </div>
<% else %>
  <div class="container">
    <p class="event-lists-header">List of Upcoming Events</p>
    <ul class="grid">
      <% @upcoming_events.each do |event| %>
        <%= render 'list_of_events', event: event %>
      <% end %>
    </ul>
  </div>
<% end %>